header, nav ul, nav ul li {
    display: flex;
}

body {
    display: grid;
    grid-template-areas:
    "header nav"
    "main main"
    "section-one section-two"
    "footer footer"
    ;
    gap: 5px;
}
nav {
    grid-area: nav;
    justify-content: space-evenly;
}

nav ul {
    justify-content: space-between;  
}

nav ul li {
    justify-content: center;
    flex-basis: 1;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    display: flex;
    align-items: center;
}

section#one {
    grid-area: section-one;
    display: grid;
    grid-template-areas: 
        "img h2"
        "img p"
    ;
}

section#two {
    grid-area: section-two;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#one img {
    grid-area: img;
}
#one h2 {
    grid-area: h2;
}
#one p {
    grid-area: p;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center
}

@media screen and (max-width: 800px) {
    body {
        grid-template-areas:
        "header"
        "nav"
        "main"
        "section-one"
        "section-two"
        "footer"
    ;
    }
    main {
        flex-direction: column;
    }
    main img {
        width: 100%;
    }
    section#one {
        flex-wrap: wrap;
    }

    section#one {
        
        grid-template-areas: 
            "img h2"
            "p p"
        ;
    }
    
}