body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10% 0 10%;   
}

header h1 {
    margin-bottom: 0;
}

header h2 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 15px;
}

header ul {
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    text-align: center;
}

header a {
    text-decoration: none;
    color: black;
    padding: 8px;
    background-color: #dddddd;
    border-radius: 5px;
}

main > * {
    padding-top: 20px;
    border-top: black 1px solid;
}

main p {
    margin-top: 20px;
}

main h2 {
    font-size: 1.1em;
    color: rgb(114, 114, 114);
    margin: 5px 0 15px 0;
}

main h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 5px 0 5px 0;
}

#experience ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#experience li {
    padding: 10px 0 10px 0;
}

#experience a {
    text-decoration: none;
    color: black; 
    margin: auto; 
    padding: 0 5px 0 5px;
    
}

#experience div {
    background-color: #dddddd;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    display: inline-block;
    align-items: center;
    
}

@media screen and (max-width: 775px) {
    body {
        padding: 0%;
    }
    main ul {
        padding-left: 15px;
    }
}




